.base-input {
    padding-left: 8px;
    background-color: #fff;
    border-radius: 12px;
    width: 99%;
    height: 48px;
    border: solid #9F5BFF40 1px;
    outline: none;    
    font-weight: 600;
}