.main-portfolio {
  width: 100%;
  background-color: #fff;
  padding: 3rem;
  &-title {
    text-align: center;
    margin: 4px;
    padding: 2px;
    font-weight: 600;
  }
  &-subtitle {
    text-align: center;
    font-weight: 400;
    margin: 6px;
  }
  &-images {
    padding: 28px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
