.base-button {
    border: solid;
    width: 174px;
    height: 48px;
    border-radius: 12px;
    background: linear-gradient(58.62deg, #605BFF 0%, #9F5BFF 100%);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .8px;
    margin: 4px;
    padding: 4px;
}