* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open sans';
}

.header-wrapper {
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(240, 240, 240, 0.2);
    top: 0;
    transition: top 0.1s ease-in;
  &-container {
    display: flex;
    align-items: center;
    width: 1300px;
    justify-content: space-between;
    &-nav{
        display: flex;
        width: 350px;
        justify-content: space-around;
        > a {
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    &-freeestimation {
      > button {
        padding: 8px 24px;
        border-radius: 12px;
        background: #ffffff;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color:purple;
        border: 1px solid #FFFFFF;  
      }
    }
  }
}

.header-bg {
top: -90px;
}