.main-portfolio-wrapper-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  &-bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      width: 408px;
      height: 280px;
      border-radius: 8px;
    }

    &:hover {
      .main-portfolio-wrapper-imgs-bg-text {
        opacity: 1;
        display: flex;
        transition-delay: 0.14s;
        position: absolute;
        background: rgba(159, 91, 255, 0.5);
        backdrop-filter: blur(16px);
        width: 408px;
        height: 280px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
      }
      .main-portfolio-wrapper-imgs-bg-text > p {
        color: #ffff;
        text-align: center;
      }
    }
  }
  &-bg-text {
    display: none;
  }
}
